.container {
    width: 960px;
    border: 1px solid;
}

.nav a {
    color: rgb(168, 163, 163);
}

footer h5 {
    font-size: 14px;
    color: rgb(115, 114, 111);
}

span {
    color: red;
}

button {
    font-size: 25px;
    border: none;
    background-color: white;
}